#menu, #coupon, #coupon2{margin: 0; line-height: 0;}

#preview img{width: 0;}

#coupon{background: #fec03c;}
#coupon2{background: #cb9930;}
#coupon2 #all{background: #000000;}

#coupon2 img{opacity: 0.8;}
#coupon2 .l{opacity: 1;}

.a, .c, .e, .g, .i, .k, .l, .m, .o{width: 100%;}

.bl{float:left;width: 42.8%;}
.b1{width: 24.92%;}
.b2{width: 62.31%;}
.b3{width: 12.77%;}
.br{float: right; width: 57.2%;}
.b41, .b43{width: 100%;}
.b421{width: 76.22%;}
.b422{width: 23.78%;}

.d1{width: 68.53%;}
.d2{width: 20.67%;}
.d3, .f3, .j3, .p3{width: 10.8%;}

.f1, .h1{width: 42.8%;}
.f2{width: 46.4%;}

.h2{width: 25.73%;}
.h3{width: 31.47%;}

.j1, .p1{width: 10.67%;}
.j2, .p2{width: 78.53%;}

.n1{width: 30.79%;}
.n2{width: 36.27%;}
.n3{width: 32.93%;}

#menu .b2{width: 17.16%;margin: 3%;}
#menu .b421{width: 73.84%;margin: 3% 3% 3% 0;}