#coupon{margin: 0px; background: #fec03c;line-height: 0;}
.a{width: 100%;}
.b1{width: 12.93%;}
.b2{width: 22.67%;}
.b3{width: 7.2%;}
.b4{width: 43.6%;}
.b5{width: 13.6%;}
.d1, .f1{width: 42.8%;}
.d2{width: 46.27%;}
.d3{width: 10.93%;}
.f2{width: 25.59%;}
.f3{width: 31.6%;}
.j1{width: 30.79%;}
.j2{width: 36.27%;}
.j3{width: 32.93%;}
