#preview img{width: 1px;}

#coupon{margin: 0; background: #fec03c; line-height: 0;}
.a{width: 100%;}
.b1{width: 12.93%;}
.b2{width: 22.67%;}
.b3{width: 7.2%;}
.b4{width: 43.6%;}
.b5{width: 13.6%;}
.d1, .f1{width: 42.8%;}
.d2{width: 46.27%;}
.d3{width: 10.93%;}
.f2{width: 25.72%;}
.f3{width: 31.47%;}
.j1{width: 30.79%;}
.j2{width: 36.27%;}
.j3{width: 32.93%;}


.bl{float:left;width: 42.8%;}
.bl .b1{width: 30.22%;}
.bl .b2{width: 52.96%;}
.bl .b3{width: 16.82%;}
.br{float:right;width: 57.2%;}
.b41, .b43{width: 100%;}
.b421{width: 76.22%;}
.b422{width: 23.78%;}

.h1, .h3, .l1, .l3{width: 10.8%;}
.h2, .l2{width: 78.4%;}